.vscode
/node_modules
*.log
.DS_Store
.vscode
coverage
dist
storybook-static
cache
stats.json
projects
.firebase/hosting.c3Rvcnlib29rLXN0YXRpYw.cache

lerna-debug.log
npm-debug.log
/packages/*/node_modules
.idea
